NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyANAGC2EP3EBf4n5oQf5U3jys8znNJiFaU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=stemrupy.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=stemrupy
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=stemrupy.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=498072154157
NEXT_PUBLIC_FIREBASE_APP_ID=1:498072154157:web:10cb8a091424729ba908a4
measurementId=G-EBKMJEK7JK
